# Ignore all data files
/Data/

# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
*.egg-info/

# macOS system files
.DS_Store

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Optional: ignore compiled files
*.so
*.dll
*.exe

trades_*.csv
*.csv

trades_*.csv
lse_datastream_equity_codes.txt